<% provide(:title, "About") %>
<!DOCTYPE html>
<html lang="en">

<head>   
    
</head>

<body>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="about-preview">
                    <h2>This is about page</h2>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet eligendi fugit possimus, quisquam sit velit reiciendis debitis ab! Magnam, modi similique suscipit vel molestias quae obcaecati quis expedita repudiandae temporibus.</h5>
                </div> 
            </div>
        </div>
    </div>
</body>
</html>    