<% provide(:title, "About") %>
<!DOCTYPE html>
<html lang="en">

<head>   

</head>

<body>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="about-preview">
                    <h2>ONEPUNCHMAN WELCOME TO MY APP</h2>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>MSSV</th>
                            <th>Họ tên</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1312123</td>
                        <td>Nguyễn Ngô Thành Đạt</td>
                        <td>1312123@student.hcmus.edu.vn</td>
                    </tr>
                    <tr>
                        <td>1312061</td>
                        <td>Lê Hồng Cường</td>
                        <td>1312061@student.hcmus.edu.vn</td>
                    </tr>                    
                </tbody>
            </table>
        </div> 
    </div>
</div>
</div>
</body>
</html>    